<pm-sidebar id="sidebar" role="navigation" class="sidebar prime-sidebar" [class.show-element]="mostrarSidebar"></pm-sidebar>
<pm-navbar (toggleSidebarEvent)="toggleSidebarListener($event)" class="page-controls navbar navbar-dashboard" style="left: 0px; right: 0px;"></pm-navbar>
<div class="content-wrap" id="content-wrap" [class.content-wrap-fix]="!mostrarSidebar" style="margin-left: 0;">
    <main id="content" class="content bg-image" role="main">
        <!-- <div class="router-component" #routerComponent> -->
        <div class="router-component">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>
