<div class="container pt-3">
    <h3 class="pm-title">Registrar Transporte</h3>
</div>
<div class="container" [formGroup]="form">
    <div class="card-deck pt-3 pb-3">
        <div class="card card--shadow">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <label class="pm-label" for="vehiculo">Vehículo</label>
                        <pm-auto-complete
                            class="auto-complete"
                            id="vehiculo"
                            [config]="configVehiculo"
                            (selected)="setVehiculo($event)"
                            (filteredInput)="getVehiculos($event)">
                        </pm-auto-complete>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <label class="pm-label pr-5" style="margin-top: 2.5rem;">Nº de Transporte:</label>
                        <span>{{model ? model.nroTransporte : ''}}</span>
                    </div>
                </div>
                <div style="border: 1px solid black" class="mt-3 p-2" *ngIf="vehiculo !== undefined">
                    <div class="row">
                        <div class="col-sm-12">
                            <span>El vehículo con placa {{vehiculo.placa}} tiene:</span>
                            <br/>
                            <span>- Capacidad de carga de {{vehiculo.carga}}</span>
                            <br/>
                            <span>- Capacidad volumetrica de: {{vehiculo.volumetria}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-deck pt-3 pb-3">
        <div class="card card--shadow">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-sm-12 mb-3">
                        <label class="pm-label" for="sucSalida">Sucursal de Salida</label>
                        <pm-auto-complete
                            class="auto-complete"
                            id="sucSalida"
                            [config]="configSucursalSalida"
                            (selected)="setSucursalSalida($event)"
                            (filteredInput)="getSucursalesSalida($event)">
                        </pm-auto-complete>
                    </div>
                    <div class="col-md-3 col-sm-12 mb-3">
                        <label class="pm-label">Fecha Salida</label>
                        <div>
                            <p-calendar
                                formControlName="fechaSalida"
                                dateFormat="dd/mm/yy"
                                showIcon="true"
                                [locale]="formatoFechas">
                            </p-calendar>
                        </div>
                        <div style="color: red;" *ngIf="validarFechas()">
                            La fecha de salida debe ser menor a la fecha de llegada
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 mb-3">
                        <label class="pm-label">Hora Salida</label>
                        <div>
                            <p-calendar
                                formControlName="horaSalida"
                                timeOnly="true"
                                hourFormat="12">
                            </p-calendar>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 mb-3">
                        <label class="pm-label" for="sucLlegada">Sucursal de Llegada</label>
                        <pm-auto-complete
                            class="auto-complete"
                            id="sucLlegada"
                            [config]="configSucursalLlegada"
                            (selected)="setSucursalLlegada($event)"
                            (filteredInput)="getSucursalesLlegada($event)">
                        </pm-auto-complete>
                    </div>
                    <div class="col-md-3 col-sm-12 mb-3">
                        <label class="pm-label">Fecha Llegada</label>
                        <div class="test3">
                            <p-calendar
                                formControlName="fechaLlegada"
                                dateFormat="dd/mm/yy"
                                showIcon="true"
                                [locale]="formatoFechas">
                            </p-calendar>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 mb-3">
                        <label class="pm-label">Hora Llegada</label>
                        <div>
                            <p-calendar
                                formControlName="horaLlegada"
                                timeOnly="true"
                                hourFormat="12">
                            </p-calendar>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 mb-3">
                        <label class="pm-label" for="chofer">Chofer</label>
                        <pm-auto-complete
                            class="auto-complete"
                            id="chofer"
                            [config]="configChofer"
                            (selected)="setChofer($event)"
                            (filteredInput)="getChoferes($event)">
                        </pm-auto-complete>
                    </div>
                    <div class="col-md-6 col-sm-12 mb-3">
                        <label class="pm-label" for="auxiliar">Auxiliar</label>
                        <pm-auto-complete
                            class="auto-complete"
                            id="auxiliar"
                            [config]="configAuxiliar"
                            (selected)="setAuxiliar($event)"
                            (filteredInput)="getAuxiliares($event)">
                        </pm-auto-complete>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 mb-3">
                        <label class="pm-label" for="tipoTransporte">Tipo Transporte</label>
                        <select class="form-control pm-input" formControlName="tipoTransporte" [ngClass]="{'is-invalid': formValidation('tipoTransporte')}">
                            <option *ngFor="let tipoTransporte of tiposTransporte" [value]="tipoTransporte.id">{{tipoTransporte.nombre}}</option>
                        </select>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div style="margin-top: 2.5rem">
                            <input type="checkbox" name="activo" formControlName="activo">
                            <label for="activo" class="pl-2">Está Activo</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="mostrarMensajeExito">
        <div class="col-md-12 col-sm-12 mb-3">
            <alert type="success">
                <div [innerHTML]="mensajeExito"></div>
            </alert>
        </div>
    </div>

    <div class="row" *ngIf="mostrarMensajeError">
        <div class="col-md-12 col-sm-12 mb-3">
            <alert type="danger">
                <div [innerHTML]="mensajeError"></div>
            </alert>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 mb-3">
            <button type="button" class="btn btn-primary float-md-right mr-3 mb-3 pm-button" (click)="save()" [attr.disabled]="mostrarMensajeExito">Grabar</button>
            <button type="button" class="btn btn-dark float-md-right mr-3 mb-3 pm-button" *ngIf="mostrarEliminar" (click)="confirmDelete()">Eliminar</button>
        </div>
    </div>
</div>
